/* 
    Document   : behind-the-scenes
    Created on : Nov 21, 2011, 9:52:44 PM
    Author     : danielcarter
    Description:
        All the styles you ever wanted for Behind the Scenes
*/

/* Behind the scenes View blocks */
.page-node-14 .block h2 {
    font-family: 'Georgia', serif;
    font-size: 20px;
    font-style: italic;
}


/* Image teasers */
.view-display-id-behind_scenes_teaser_block .views-view-grid {
    border-collapse:separate;
    border-spacing:8px 40px;
    left: -8px;
    top: -40px;
}

.view-display-id-behind_scenes_teaser_block .node-slideshow-image {
    /* 
       add spacing between images
    */    
}

.view-display-id-behind_scenes_teaser_block .node-slideshow-image h2 {
    bottom: 10px;
    display: none;
    font-size: 14px;
    font-weight: 400;
    position:absolute;
    text-align:right;
    text-transform: uppercase;
    top:auto; 
    width: 225px;
    z-index: 10;
}

.view-display-id-behind_scenes_teaser_block .node-slideshow-image h2 a {
    color:white;
}

.view-display-id-behind_scenes_teaser_block .node-slideshow-image .content {

}

.view-display-id-behind_scenes_teaser_block .node-slideshow-image .content .field-name-field-single-image {

}






/* Image Slideshow */

/* 
   position title absolutely
   move to the middle of the image
   change the font
   resize the font
*/

/* Video Teasers */
.view-behind-the-scenes-video-list {
    margin-bottom: 50px;
}

/* Video Slideshow */
.view-behind-the-scenes-video-list:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.view-behind-the-scenes-video-list .views-row {
    float: left;
    margin-right: 10px;
}

.view-behind-the-scenes-video-list .views-row h2 {
    max-width: 300px;
    max-height: 22px;
    overflow: hidden;
}

