/* 
    Document   : block-styles
    Created on : Nov 19, 2011, 4:18:33 PM
    Author     : danielcarter
    Description:
        These styles are for blocks that are insignicant in their style requirements
*/

/* Press */
#block-block-27 {
    position: absolute;
    left: auto;
    right: 0;
}

#block-block-27 .content a {
    color: white;
}

.node-type-blog #upper_callouts,
.page-blog #upper_callouts{
    height: 57px;
}

/* Synopsis */
#block-block-11 {
    float: right;
    margin-left: 50px;
    width: 300px;
}

/* Logos - Footers */
#block-block-10 .content span {
    display: inline-block;
    padding: 0 10px;
    overflow: hidden;
    height: 70px;
}

#block-block-10 .content span img {
    height: 175px;
    vertical-align: middle;
    margin-top: -50px;
}

/* Partners */
#block-block-12 {
    font-size: 18px;
    font-weight: bold;
    height: 250px;
    margin-bottom: 40px;
}

#partner-logos {
    text-align: center;
}

#partner-logos span {
    display: inline-block;
    padding: 0 10px;
    height: 200px;
    overflow: hidden;
}

#partner-logos span img {
    height: 100%;
}

/* Search Block */
#block-search-form h2 {
    font-size: 20px;
    font-weight: normal;
    font-family: Georgia;
    font-style: italic;
    margin: 0 auto;
}

#search-block-form:after {
    clear:both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#search-block-form .form-item {
    display: block;
    float: left;
    margin: 0 0 10px;
    font-size: 20px;
}

#search-block-form .form-actions {
    display: block;
    width: 30px;
    margin: 0;
    float: left;
}

#search-block-form .form-submit{
    color: #ffcc00;
    cursor: pointer;
    padding: 0;
    height: 46px;
    background: #ffcc00 url('../images/controls/follow-me-arrow.png') no-repeat 50% 50%;
    margin: 0;
    border: none;
    width: 30px;
}

#search-block-form #edit-search-block-form--2 {
    height: 40px;
    width: 150px;
    margin: 0;
    font-size: 20px;
}

/* Blog Categories */
#block-menu-block-3 h2 {
    font-size: 20px;
    font-weight: normal;
    font-family: Georgia;
    font-style: italic;
    margin-bottom: 0; 
}

#block-menu-block-3 .menu {
    margin: 0;
    padding: 0;
}

#block-menu-block-3 .menu li.leaf {
    list-style: none;
}

#block-menu-block-3 .menu li.leaf a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.trailer-play-button-container {
    left: 521px;
    top: 130px;
    position:absolute;
    z-index: 5;
       
}

.trailer-play-button-container #trailer-play-button {
    background: transparent url('../images/controls/play-button.png') no-repeat 50% 50%; 
    height: 113px;
    width:113px;
}