/* 
    Document   : block-styles
    Created on : Nov 19, 2011, 4:18:33 PM
    Author     : danielcarter
    Description:
        These styles are for blocks that are insignicant in their style requirements
*/

/* Synopsis */
#block-block-11 {
    float: right;
    margin-left: 50px;
    width: 300px;
}

/* Partners */
#block-block-12 {
    font-size: 20px;
    font-weight: bold;
    height: 250px;
    margin-bottom: 40px;
}

#partner-logos img {
    display: block;
    float: left;
}
