body.page-blog .action-links {
    display:none;
}

body.sidebar-first #content div.node-teaser,
body.sidebar-first #content div.node-blog {
    background: white;
    margin-bottom: 50px;
    padding: 0 40px 25px 40px;

}

#content div.node-blog pre{
    background: black;
    border: 2px solid red;
    padding: 10px;	
}

#content .node-blog p, 
#content .node-blog div.blog-meta, 
#content .node-blog div.blog-date{
    color: black;
}	

.node-blog div.blog-date{
    background-color: #ffcc00;
    font-size: 20px;
    line-height: 20px;
    margin-left: 430px;
    top: -20px;
    height: 20px;
    width: 135px;
    padding: 10px 20px;
    z-index: 200;
    font-style: italic;
    text-align: center;
    font-family: "Georgia", serif; 	
}

hr.blog-yellow{
    height: 10px;
    color: #ffcc00;
    background-color: #ffcc00;
    border: 0;

}

.node-blog div.content {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 10px 0;
    margin-bottom: 20px;
}


#content .node-blog p {
    font-family: "Georgia", serif;
    color: black;
    font-size: 15px;
    line-height: 21px;
}

#content .node-blog h2.node-title,
#content .node-blog h1.node-title {
    font-family: "Georgia", serif;
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0;
}


#content .node-blog h2.node-title a,
#content .node-blog h1.node-title a {
    color: black;
}

#content .node-blog h2.node-title a:hover,
#content .node-blog h1.node-title a:hover {
    color: black;
    text-decoration: none;
}

#content .node-blog span.blog-links a, 
#content .node-blog span.blog-links a:hover {
    color: #3366aa;
    font-size: 15px;
    font-family: "Georgia", serif;
    text-decoration: underline;
    font-style: italic;  
    margin-bottom:10px;
}

#content .node-blog span.read-more a {
    font-weight: bold;
}

#content .node-blog div.blog-comments-share {
    color: #3366aa;
    font-style: italic;
}

.node-blog .blog-meta .field {
    float: left;
    font-size: 11px;
    margin-left: 10px;
}

.node-blog .blog-meta .field-item a {
    color: #666666;
}


/* Comments */
.node-blog #comments {
    color: black;
    font-family: Georgia;
}

.node-blog #comments .title {
    color: black;
    font-family: Georgia;
    font-size: 20px;
    font-style: italic;
}

.node-blog #comments .comment {
    border-bottom: 1px dotted black;
}

.node-blog #comments .comment p {
    font-size: 14px;
    line-height: normal;
    margin:0;
}

.node-blog #comments .submitted {
    font-size: 12px;
    font-style: italic;
}

.node-blog #comments .comment div.content {
    border-top: none;
    border-bottom: none;
    padding: 0;
}

#comment-form .filter-wrapper {
    display:none;
}

#comment-form label {
    color: black;
    font-family: "Georgia";
    font-style: italic;
}

#comments .title.comment-form {
    color: black;
    font-family: "Georgia";
    font-style: italic;
}

#comment-form #edit-name {
    width: 419px;
}

#comment-form input {
    font-size: 18px;
    height: 30px;
    width: 419px;
}

#comment-form textarea {
    height: 140px;
}

#comment-form .form-actions:after {
    clear:both;
    content: ".";
    display:block;
    height: 0px;
    visibility: hidden;
}

#comment-form .form-actions .form-submit {
    color: black;
    cursor: pointer;
    float:right;
    font-size: 16px;
    font-family: 'AlteHaasGroteskBold';
    padding: 0;
    height: 40px;
    background: #ffcc00 url('../images/controls/follow-me-arrow.png') no-repeat 90% 50%;
    margin: 0;
    border: none;
    width: 90px;
}