/* 
    Document   : callouts
    Created on : Nov 17, 2011, 10:31:34 PM
    Author     : danielcarter
    Description:
        Styles for the home page callout region and blocks.
*/

#callouts {
    
}

#callouts .section {
    padding:0px;
}

.region-callouts:after {
    clear:both;
    content: ".";
    display: block;
    height:0px;
    visibility: hidden;
}

#callouts .block {
    background-color: grey;
    float: left;
    height: 155px;
    margin-right: 11px;
    width: 280px;
}

/* Position 1 */
#callouts #block-block-5 {
    margin-left: 0;
    margin-right: 12px;
}

/* Position 2 */
#callouts #block-block-6 {
    
}
/* Position 3 */
#callouts #block-block-7 {
    
}
/* Position 4 */
#callouts #block-block-8 {
    margin-left: 1px;
    margin-right: 0;
}