
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
*/

@import url('../capture_it_fonts/stylesheet.css');
@import url('../alte_haas_grotesk/stylesheet.css');
@import url('./global_styles.css');
@import url('primary-navigation.css');
@import url('secondary-navigation.css');
@import url('tabs.css');
@import url('callouts.css');
@import url('pages.css');
@import url('block-styles.css');
@import url('overlay.css');
@import url('filmmaker-profile.css');
@import url('cast-member-profile.css');
@import url('behind-the-scenes.css');
@import url('blog.css');

.capture_it {
    font-family: 'CaptureitRegular';
}

.capture_it2 {
    font-family: 'Captureit2Regular';
}

.alteHassGrotesk-bold {
    font-family: 'AlteHaasGroteskBold';
}

.alteHassGrotesk-regular {
    font-family: 'AlteHaasGroteskRegular';
}

* { 
    position:relative; 
}

body {
    background-color:black;
    color: rgb(255,255,255);
    font-family: Arial;
    font-size: 14px;
    margin: 0 auto;
    top: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #555555;
}

.section {
    padding: 10px;
}

#main-wrapper .breadcrumb, 
#main-wrapper .breadcrumb a,
#main-wrapper .breadcrumb a:active,
#main-wrapper .breadcrumb a:hover,
#main-wrapper .breadcrumb a:visited {
    color: white;
    font-family: Georgia, serif;
    font-size: 15px;
    font-style: italic;
}

#main-wrapper .breadcrumb a.current-page {
    font-size: 40px;
}

.clearfix:after {
    clear: both;
    content: '.';
    height: 0px;
    display:block;
    visibility: hidden;
}

#content,
#sidebar-first,
#sidebar-second {
    float: left;
    display: inline;
    position: relative;
}

/* MAIN WRAPPER */
.not-front #main-wrapper {
    margin: 0 auto;
    width: 960px;
}

/* Content Region */
#content {
    width: 100%;

}

body.sidebar-first #content {
    width: 710px;
    margin-top: 20px;
    margin-left: 20px;
    /* left: 20%; /* LTR */
}
body.sidebar-first.not-front #content {
    margin-top: -10px;
}
body.sidebar-second #content {
    width: 600px;
}
body.two-sidebars #content {
    width: 300px;
    /* left: 20%; */
}

/* Header Region */
#header .section {
    padding:8px 10px 10px 10px;
}

#name-and-slogan{
    left: 100px;
    position: absolute;
    top: 230px;
    z-index: 10;
}

#site-name {

    font-size: 120px;
    line-height: 90px;
}

#site-name .site-name-text, #site-slogan {
    visibility: hidden;
}

.not-front #site-name {
    font-size: 90px;
    line-height: 50px;
}

#site-name a, #site-name a:visited, #site-name a:hover {
    color: rgb(153, 153, 153);
    text-decoration: none;
    text-transform: uppercase;
}

#site-name a span {
    display: block;
}

.not-front #page-title {
    margin-bottom: 50px;
}

.not-front #page-title span {
    display: inline-block;
    background-color: #6FBF4D;
    padding: 5px 10px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

/* Sidebar First */
#sidebar-first {
    width: 230px;
    /* left: -80%; /* LTR */
}

.not-front #sidebar-first {
    margin-top: -65px;
    padding-top: 35px;
}

#sidebar-first .section {
    padding-right: 0px;
}

#sidebar-first .block {
    margin-bottom: 10px;
}

/* Sidebar First Action Menu */
.front #sidebar-first #block-block-1 .lower, 
.front #sidebar-first #block-block-4 .lower {
    position: absolute;
}

body.two-sidebars #sidebar-first {
    left: -60%; /* LTR */
}

#sidebar-second {
    float: right; /* LTR */
    width: 20%;
}

/* Hero Region */
#hero {
    left:0px;
    overflow:hidden;
    position: absolute;
    right:0px;
    width: auto;

}

/* COPYRIGHT */
#copyright {
    margin-bottom: 20px;
}

/* User Menu */
#block-system-user-menu .content ul.menu {
    list-style: none;
    list-style-image: none;
    margin: 0px;
    padding:0px;
}

#block-system-user-menu .content ul.menu:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#block-system-user-menu .content ul.menu li {
    list-style: none;
    list-style-image: none;
    float: left;
}

#block-system-user-menu .content ul.menu li a {

}

#node-8 tbody {
    border-top: none;
}

#node-8 .content {
    margin-bottom: 173px;
}
