/* 
    Document   : filmmaker-profile
    Created on : Nov 19, 2011, 1:28:45 PM
    Author     : danielcarter
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

