/* 
    Document   : overlay
    Created on : Nov 21, 2011, 9:48:32 PM
    Author     : danielcarter
    Description:
        Purpose of the stylesheet follows.
*/

/* Drupal Overlay */
.overlay ul.secondary {
    margin-top: 0px;
}

/* ChumpNugget Modal */
.modal-link {
    cursor: pointer;
}

.modal-dialog-box {
    background: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display:none;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    /* Transparent Background For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000);

    /* Transparent Background For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000)";
}

.modal-dialog-box .box-container {
    display:none;
    margin: 0 auto;
    top: 100px;
    width: 800px;
}

.page-node-14 .modal-dialog-box .box-container {
    width: 890px;
}

.modal-dialog-box .modal-content {
    background: white;
    color: black;
    min-height: 300px;
}

.page-node-14 .modal-dialog-box .modal-content {
    min-height: 620px;
} 

.modal-dialog-box .modal-content:after {
    clear:both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
}

#block-block-14 .modal-dialog-box .modal-content p {
    color: black;
}

.modal-dialog-box .close.button {
    background: #ffcc00 url('../images/controls/close-button.png') no-repeat 50% 50%;
    content: 'X';
    color: black;
    cursor: pointer;
    height: 40px;
    left: auto;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 40px;
    z-index: 500;
}

.modal-dialog-box .prev-slide.button {
    background: #ffcc00 url('../images/controls/prev-arrow.png') no-repeat 50% 50%;
    cursor: pointer;
    height: 115px;
    left: -30px;
    position: absolute;
    top: 40px;
    width: 40px;
    z-index: 100;
}

.modal-dialog-box .next-slide.button {
    background: #ffcc00 url('../images/controls/next-arrow.png') no-repeat 50% 50%;
    cursor: pointer;
    height: 115px;
    position: absolute;
    right: -30px;
    top: 40px;
    width: 40px;
    z-index: 100;
}

.modal-dialog-box .modal-content .field-name-field-multiple-images {
    display: block;
    height: 300px;
}

.modal-dialog-box .modal-content .field-name-field-film-role {
    color: white;
    display: none;
    font-size: 80px;
    font-family: Captureit2Regular;
    left: 38px;
    position: absolute;
    top: 225px;
}

.modal-dialog-box .modal-content .field-name-body {
    font-size: 15px;
    margin: 38px 38px 0 38px;
    padding-bottom: 38px;
}
.modal-dialog-box .modal-content .field-name-title {
    margin-left: 38px;
    font-family: Captureit2Regular;
    font-size: 40px;
    margin-top: -70px;
}

.modal-dialog-box .modal-content .field-name-title .title-text {
    display: none;
}