/* 
    Document   : overlay
    Created on : Nov 21, 2011, 9:48:32 PM
    Author     : danielcarter
    Description:
        Purpose of the stylesheet follows.
*/

.overlay ul.secondary {
    margin-top: 0px;
}
