/* 
    Document   : primary-navigation
    Created on : Nov 18, 2011, 10:30:08 PM
    Author     : danielcarter
    Description:
        Primary Navigation
*/

/* NAVIGATION */
#navigation {
    margin: 0 auto;
    position:relative;
    top: 35px;
    height: 40px;
    width: 995px; /*was 960px*/
    z-index: 10;
}

#navigation .section {
    padding: 10px 10px 0px 10px;
}

#navigation .block-menu-block {
    float: left;
}

#navigation .block-menu-block h2{
    display: none;
}

#navigation div.contextual-links-wrapper {
    right: -15px;
}

#navigation .region-navigation .block-menu-block ul {
    height: 40px;
    list-style: none outside none;
    list-style-image: none;
    margin: 0 0 0 1em;
    padding: 0;
}

#navigation .region-navigation .block-menu-block ul li {
    height: 41px;
    list-style: none outside none;
    width: 128px;    
    margin: 0 1px 0 0;
    padding: 0;
    background-color:black;
    display: block;
    float: left;
}

#navigation .region-navigation .block-menu-block ul li.last {
	margin: 0;
}

#navigation .region-navigation .block-menu-block ul li a {
    color:white;
    font-family: 'AlteHaasGroteskRegular', 'Helvitica';
    font-size: 8pt;
    font-weight: bold;
    padding: 8px 10px;
    text-transform: uppercase;
    display:block;
}

#navigation .region-navigation .block-menu-block ul li.active-trail {
    background-color: #ffcc00;
}

#navigation .region-navigation .block-menu-block ul li.active-trail a {
    color: black;
}

#navigation div.block.contextual-links-region{
	float:left;	
}

#navigation div.block.contextual-links-region div.content p {
	margin: 0;
	padding: 0;
}
